<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
	<display-name>ujp-web</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>unifiedJoinPlatform</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-mvc.xml</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>unifiedJoinPlatform</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>